

html {
    background-color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }


.row{
    display: flex;
    flex-wrap: wrap;
  }
.column{
    flex: 20%;
    padding: 20px;

  }
@media only screen and (min-width: 400px ) {
    .row {
        flex-direction: column;
    }
  }
@media only screen and (min-width: 1900px ) {
    .column {
        flex-direction:row;
    }
  }
  
  
a:link{
  position: relative;
  color: black;
  text-decoration: none;
}
a:visited {
  color:#8DA658;
  text-decoration: none;
}
a:hover {
    color: white;
    text-decoration: none;
  }

body{
    position: relative;
    max-width: 1900px;
    margin: 20px;
    color: #8DA658;
    font-size: 15px;}


nav {
    display:flex;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    justify-content: space-evenly;
    text-decoration: none;

      }

     
h1{
    position:relative;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size:  6vh;
    
    color: #8DA658;
}

h2{
    position: relative;
    display: flex;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 4vh;
    
    color: #40372F;
}

h3{
    position: relative;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3vh;
    
    
    color: #40372F;
}

h4{
    position: relative;

    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2vh;
    
    
    color: #40372F;
}


h5{
    position: relative;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1vh;
    
    color: #8DA658;
}

h6{
    

    position: relative;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 0.5vh;
    color: #40372F;
}

p{
    display: flex;
    margin: 10px;
    display: block;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
    font-style: normal;
    font-size: 2vh;
    color: black ;
  }
  ul{
    color: black;
    font-size: 1em;
  }
  li{
    color: black;
    font-size: 1em;
  }

.headshot{
    position: absolute;
    opacity: 0.7;
    margin-bottom: 100px;
    height: 400px;
    margin-left: 1px;
    padding-right: 6em;
    padding-bottom: 4em;
  }

  embed{
    display: flex;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #8DA658;
    padding: 0;
    margin: 0;
  
  }

hr{
    height: 5px;
    overflow: visible;
    background-color: black;
    border-radius: 50%;
}
.submit {
  background: #8DA658;
  border-radius: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  border: 5px solid #40372F;
  height: 45px;
  border-radius: 10px;
  color: #000000;
  font-size: 20px;
  transition-duration: 0.5s;
  text-align: center;
  position: relative;

}

.submit:visited{
    background:#73655A;
  }
.submit:hover{
    color: black;
    background-color: #A69C94;
  }

  .headshot{
    position: relative;
    margin-left: 100px;
    margin-right: auto;
    float: left; 
    opacity: 0.5;
    display: flexbox;
    margin: 0 auto;
  
  }


.NavBackground{
  background-color:  black;
  padding: 10px;
}

.projectTitle{
  text-align: center;
  font-size: 5vh;
  margin: 50;
}

.DataProjects {
  border:5px solid #8DA658;
  padding: 10px;
  width: 600px;
  height: 600px;
  display: inline-block;
  margin: 30px ;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.DesProjects {

  border:5px solid #8DA658;
  padding: 5px;
  width: 600px;
  height: 600px;
  display: inline-block;
  margin: 30px ;
  text-align: center;
  resize: vertical;
  position: relative;

}

.DataProjDesc{
  position: relative ;
  background: #8DA658 ;
  padding: 10px;
  margin: 7px;
  opacity: 1;
  display: grid;
  height:fit-content ;
  text-align: left;
}
.DesProjDesc{
  position: relative ;
  background: #8DA658 ;
  padding: 10px;
  margin: 1px;
  opacity: 1;
  top: 2%;
  display: grid;
  height:fit-content ;
  text-align: left;
}


.ProjImg{
  border:5px solid #40372F;
  border-radius: 0;
  padding: 0;
  margin: 10px;
  height: 400px;
  width: 400px;
}
.DesProjImg{
  border:5px solid #40372F;
  border-radius: 0;
  padding: 0;
  margin: 10px;
  height: 400px;
  width: 400px;
}

.form{
  padding-left: 6em; 
  padding-right: 6em;
  padding-bottom: 4em;
}

#input{
  position: relative;
  background: #D7D9D9;
  border: 5px solid #40372F;
  line-height: 28px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
}

.Navhr{
  background-color: white;
  border: 0;
  height: 1px;
  position: relative;
    
  
}

.full-img {
  position: relative;
  display: block;
  width: 640px;
  height: 480px;

}

.overlay  {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
  background-color: rgba(0,0,0,0);
}


.thumb-bar img {
  display: block;
  width:9.4%;
  float: left;
  cursor: pointer;
}

button {
  border: 0;
  position: relative;
  cursor:pointer;

}

.submit2 {
  background: #8DA658;
  border-radius: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  border: 5px solid #40372F;
  height: 45px;
  border-radius: 10px;
  color: #000000;
  font-size: 20px;
  transition-duration: 0.5s;
  text-align: center;
  position: relative;
  top: 50px;
  left: 42px;
  display: inline-block;
}

.quotes {
  padding: 20px 50px;
  min-height: 100px;
  background-color: black;
 
}


#bodyGame{
  top: 20%;
  padding-left: 10px ;
}

.resetButton{
  background: #8DA658;
  border-radius: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 5px solid #40372F;
  height: 45px;
  border-radius: 10px;
  color: #000000;
  font-size: 20px;
  transition-duration: 0.5s;
  text-align: center;
  position: relative;
  font-size: 12px;
  left: 80%;
  top:10%;
}

.resetButton:hover{
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 10px;
  font-size: 12px;
  left: 80%;
  top: 10%;
  align-content: center;
  justify-content: center;
}

.canvas{
 margin: 0 auto; 
 padding: 10px;
 justify-content: center;

 align-items: center;
}



